/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

body {
  position: relative;
  transition: left 0.5s ease;
  left: 0;
}

body.push {
  left: 230px;
}

.bg-blue {
  background-color: #1976D2;
}

.bg-teal {
  background-color: #009688;
}

.bg-orange {
  background-color: #E65100;
}

.bg-grey-light {
  background-color: #FAFAFA;
}

.details-label {
  color: #9E9E9E !important;
  font-size: 15px;
}

.link-white {
  color: #fff;
  font-weight: 500;
}

.link-white:active,
.link-white:hover,
.link-white:focus {
  color: #fff;
  font-weight: 500;
}

.sidebar {
  color: white;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.show-sidebar {
  width: 230px;
}

.hide-sidebar {
  width: 0px;
}

.sidebar img {
  margin-left: 25%;
}

.sidebar .toggle-btn {
  float: right;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  padding-top: 4px;
}

.sidebar .nav-item {
  margin: 0;
  list-style-type: none;
}

.sidebar .nav-link {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 25px;
  opacity: 0.5;
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.ng-invalid.ng-touched {
  border-color: #dc3545;
}

table {
  min-width: 936px;
}

.mxw-500 {
  max-width: 500px;
}

.w-200 {
  width: 200px;
}

.w-300 {
  width: 300px;
}

.footer {
  height: 40px;
  margin-top: 20px;
}

.faded-text {
  color: #9E9E9E;
}